---
import BaseHead from '../../components/BaseHead.astro';
import CookieConsent from '../../components/CookieConsent.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <!-- Load Music Web Components -->
    <script type='module' src='../web-components/SpotifyArtist.js'></script>
    <script type='module' src='../web-components/SpotifySong.js'></script>
    <!-- Page Specific Styles -->
    <style>
      ol {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        row-gap: 1rem;
      }
    </style>
  </head>
  <body>
    <CookieConsent />
    <Header />
    <main class='page-content'>
      <section>
        <h1>My Music Corner</h1>
        <p>
          A little bit of what I've been listening to lately and who I think you
          should check out.
        </p>
      </section>
      <section>
        <h2>Artist Spotlight</h2>
        <iframe
          style='border-radius:12px'
          src='https://open.spotify.com/embed/artist/2kj9J1mkap7VGmtgqJi5yB?utm_source=generator&theme=0'
          width='100%'
          height='352'
          frameBorder='0'
          allowfullscreen=''
          allow='autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture'
          loading='lazy'></iframe>
        <!-- <spotify-artist
          name='Noelle Sucks'
          art-src='/images/music/artists/Noelle_Sucks.jpeg'
          art-alt='Portrait of artist Noelle Sucks'
          spotify-href='https://open.spotify.com/artist/2kj9J1mkap7VGmtgqJi5yB'
        ></spotify-artist> -->
      </section>
      <section>
        <h2>Top Tracks</h2>
        <ol class='font-serif'>
          <li>
            <spotify-song
              title="where's my head at _"
              artists='Basement Jaxx, 100 gecs'
              album-art-src='/images/music/albums/wheres_my_head_at.jpg'
              album-art-alt="Album cover for song 'Wheres my head at' by Basement Jaxx"
              preview-src='/audio/wheres_your_head_at_.mp3'
              spotify-href='https://open.spotify.com/track/1hJN8hZvzEvOvqX32jSSrw'
            ></spotify-song>
          </li>
          <li>
            <spotify-song
              title='Cut Bangs'
              artists='Deux Visages'
              album-art-src='/images/music/albums/cut_bangs.jpg'
              album-art-alt="Album cover for song 'Cut Bangs' by Deux Visages"
              preview-src='/audio/cut_bangs.mp3'
              spotify-href='https://open.spotify.com/track/5KQtAJK5wIHXVLlX5sl43n'
            ></spotify-song>
          </li>
          <li>
            <spotify-song
              title='you were so cool'
              artists='Grady'
              album-art-src='/images/music/albums/you_were_so_cool.jpg'
              album-art-alt="Album cover for song 'you were so cool' by Grady"
              preview-src='/audio/you_were_so_cool.mp3'
              spotify-href='https://open.spotify.com/track/4QNJQMRHCqqyYqZnQSAjgh'
            ></spotify-song>
          </li>
          <li>
            <spotify-song
              title='Not Today'
              artists='Thee Marloes'
              album-art-src='/images/music/albums/not_today.jpg'
              album-art-alt="Album cover for song 'Not Today' by Thee Marloes"
              preview-src='/audio/not_today.mp3'
              spotify-href='https://open.spotify.com/track/0La1VlmPQNwvTyJD3qIxGL'
            ></spotify-song>
          </li>
          <li>
            <spotify-song
              title='Sad Boiii'
              artists='BENEE'
              album-art-src='/images/music/albums/sad_boiii.jpg'
              album-art-alt="Album cover for song 'Sad Boiii' by BENEE"
              preview-src='/audio/sad_boiii.mp3'
              spotify-href='https://open.spotify.com/track/5LOUGL5zAmtxRQIJBmuUay'
            ></spotify-song>
          </li>
        </ol>
      </section>
    </main>
    <Footer />
  </body>
</html>
