---
import BaseHead from '../../components/BaseHead.astro';
import CookieConsent from '../../components/CookieConsent.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <!-- Load Music Web Components -->
    <script type='module' src='../web-components/SpotifyPlaylistTrack.js'
    ></script>
    <script type='module' src='../web-components/SpotifyArtist.js'></script>
    <script type='module' src='../web-components/SpotifyPlaylist.js'></script>
    <script type='module' src='../web-components/SpotifyAlbum.js'></script>
    <script type='module' src='../web-components/SpotifySong.js'></script>
    <!-- Page Specific Styles -->
    <style>
      ol {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        row-gap: 1rem;
      }
    </style>
  </head>
  <body>
    <CookieConsent />
    <Header />
    <main class='page-content'>
      <section>
        <h1>My Music Corner</h1>
        <p>
          A little bit of what I've been listening to lately and who I think you
          should check out.
        </p>
      </section>
      <section>
        <h2>Artist Spotlight</h2>
        <spotify-artist
          name='Noelle Sucks'
          art-src='/images/music/artists/Noelle_Sucks.jpeg'
          art-alt='Portrait of artist Noelle Sucks'
          spotify-href='https://open.spotify.com/artist/2kj9J1mkap7VGmtgqJi5yB'
        >
          <spotify-playlist-track
            title='Life is Sw33t'
            artists='Noelle Sucks'
            preview-src='/audio/artist-spotlight/Life_is_Sw33t.mp3'
            duration='2:57'
            explicit></spotify-playlist-track>
          <spotify-playlist-track
            title='Copy Ur Keys (feat. Spencer Chamberlain of Underoath)'
            artists='Noelle Sucks, Spencer Chamberlain'
            preview-src='/audio/artist-spotlight/Copy_Ur_Keys.mp3'
            duration='3:11'
            explicit></spotify-playlist-track>
          <spotify-playlist-track
            title='Nonchalant'
            artists='Noelle Sucks'
            preview-src='/audio/artist-spotlight/Nonchalant.mp3'
            duration='2:54'></spotify-playlist-track>
          <spotify-playlist-track
            title="Sorry I'm an A$$hole"
            artists='Noelle Sucks'
            preview-src='/audio/artist-spotlight/Sorry_Im_An_Asshole.mp3'
            duration='2:32'
            explicit></spotify-playlist-track>
          <spotify-playlist-track
            title='Nonchalant - if found remix'
            artists='Noelle Sucks, if found'
            preview-src='/audio/artist-spotlight/Nonchalant__if_found_remix.mp3'
            duration='3:03'></spotify-playlist-track>
          <spotify-playlist-track
            title='Ugly Ugly'
            artists='Noelle Sucks'
            preview-src='/audio/artist-spotlight/Ugly_Ugly.mp3'
            duration='2:59'
            explicit></spotify-playlist-track>
          <spotify-playlist-track
            title="I'll Show Myself Out"
            artists='Noelle Sucks'
            preview-src='/audio/artist-spotlight/Ill_Show_Myself_Out.mp3'
            duration='2:47'></spotify-playlist-track>
          <spotify-playlist-track
            title='Cherry'
            artists='Noelle Sucks'
            preview-src='/audio/artist-spotlight/Cherry.mp3'
            duration='2:16'></spotify-playlist-track>
          <spotify-playlist-track
            title='Like I Died'
            artists='Noelle Sucks'
            preview-src='/audio/artist-spotlight/Like_I_Died.mp3'
            duration='3:50'></spotify-playlist-track>
          <spotify-playlist-track
            title='Out of Orbit'
            artists='Noelle Sucks'
            preview-src='/audio/artist-spotlight/Out_of_Orbit.mp3'
            duration='3:01'></spotify-playlist-track>
        </spotify-artist>
      </section>
      <section>
        <h2>Top Playlist</h2>
        <spotify-playlist
          title='Sunshine and Flowers'
          username='Camdyn Rasque'
          username-href='https://open.spotify.com/user/camdynrasque'
          art-src='/images/music/playlists/Sunshine_and_Flowers.jpeg'
          art-alt="A few album covers from Camdyn's 'Sunshine and Flowers' playlist"
          spotify-href='https://open.spotify.com/playlist/1HExb8ckn5Cb4GKVplkqL3'
        >
          <spotify-playlist-track
            title='On The Run'
            artists='Salarymen'
            preview-src='/audio/top-playlist/On_The_Run.mp3'
            duration='4:08'></spotify-playlist-track>
          <spotify-playlist-track
            title='BLOOM'
            artists='ill peach'
            preview-src='/audio/top-playlist/BLOOM.mp3'
            duration='3:02'></spotify-playlist-track>
          <spotify-playlist-track
            title='Hannah'
            artists='Bayboards'
            preview-src='/audio/top-playlist/Hannah.mp3'
            duration='3:06'></spotify-playlist-track>
          <spotify-playlist-track
            title='Jesse'
            artists='Hazel English, Day Wave'
            preview-src='/audio/top-playlist/Jesse.mp3'
            duration='2:09'></spotify-playlist-track>
          <spotify-playlist-track
            title='Shell'
            artists='Ethan Tasch'
            preview-src='/audio/top-playlist/Shell.mp3'
            duration='2:20'></spotify-playlist-track>
          <spotify-playlist-track
            title='If You Run'
            artists='Rec Hall'
            preview-src='/audio/top-playlist/If_You_Run.mp3'
            duration='3:16'></spotify-playlist-track>
        </spotify-playlist>
      </section>
      <section>
        <h2>Top Album</h2>
        <spotify-album
          title='Leap Day'
          artists='Remember Sports'
          art-src='/images/music/albums/Leap_Day.jpeg'
          art-alt="Album Cover for 'Leap Day' by Remember Sports"
          spotify-href='https://open.spotify.com/album/5bIvA0LQnYPoZNpqJAKlFw'
        >
          <spotify-playlist-track
            title='Leap Day'
            artists='Remember Sports'
            preview-src='/audio/top-album/Leap_Day.mp3'
            duration='2:16'></spotify-playlist-track>
          <spotify-playlist-track
            title='Supervise'
            artists='Remember Sports'
            preview-src='/audio/top-album/Supervise.mp3'
            duration='3:39'></spotify-playlist-track>
          <spotify-playlist-track
            title='Ice Cream Heart'
            artists='Remember Sports'
            preview-src='/audio/top-album/Ice_Cream_Heart.mp3'
            duration='2:41'></spotify-playlist-track>
          <spotify-playlist-track
            title='The One You Wanted'
            artists='Remember Sports'
            preview-src='/audio/top-album/The_One_You_Wanted.mp3'
            duration='3:37'></spotify-playlist-track>
        </spotify-album>
      </section>
      <section>
        <h2>Top Tracks</h2>
        <ol class='font-serif'>
          <li>
            <spotify-song
              title="where's my head at _"
              artists='Basement Jaxx, 100 gecs'
              album-art-src='/images/music/songs/wheres_my_head_at.jpg'
              album-art-alt="Album cover for song 'Wheres my head at' by Basement Jaxx"
              preview-src='/audio/top-tracks/wheres_your_head_at_.mp3'
              spotify-href='https://open.spotify.com/track/1hJN8hZvzEvOvqX32jSSrw'
            ></spotify-song>
          </li>
          <li>
            <spotify-song
              title='Cut Bangs'
              artists='Deux Visages'
              album-art-src='/images/music/songs/cut_bangs.jpg'
              album-art-alt="Album cover for song 'Cut Bangs' by Deux Visages"
              preview-src='/audio/top-tracks/cut_bangs.mp3'
              spotify-href='https://open.spotify.com/track/5KQtAJK5wIHXVLlX5sl43n'
            ></spotify-song>
          </li>
          <li>
            <spotify-song
              title='you were so cool'
              artists='Grady'
              album-art-src='/images/music/songs/you_were_so_cool.jpg'
              album-art-alt="Album cover for song 'you were so cool' by Grady"
              preview-src='/audio/top-tracks/you_were_so_cool.mp3'
              spotify-href='https://open.spotify.com/track/4QNJQMRHCqqyYqZnQSAjgh'
            ></spotify-song>
          </li>
          <li>
            <spotify-song
              title='Not Today'
              artists='Thee Marloes'
              album-art-src='/images/music/songs/not_today.jpg'
              album-art-alt="Album cover for song 'Not Today' by Thee Marloes"
              preview-src='/audio/top-tracks/not_today.mp3'
              spotify-href='https://open.spotify.com/track/0La1VlmPQNwvTyJD3qIxGL'
            ></spotify-song>
          </li>
          <li>
            <spotify-song
              title='Sad Boiii'
              artists='BENEE'
              album-art-src='/images/music/songs/sad_boiii.jpg'
              album-art-alt="Album cover for song 'Sad Boiii' by BENEE"
              preview-src='/audio/top-tracks/sad_boiii.mp3'
              spotify-href='https://open.spotify.com/track/5LOUGL5zAmtxRQIJBmuUay'
            ></spotify-song>
          </li>
        </ol>
      </section>
    </main>
    <Footer />
  </body>
</html>
