/* photos.css */

#photo-viewer {
  background-color: black;
  border: none;
  display: none;
  height: 100%;
  left: 0;
  margin: 0;
  max-height: 100dvh;
  max-width: 100dvw;
  padding: 0;
  place-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#photo-viewer img {
  height: 100%;
  max-height: 100dvh;
  max-width: 100dvw;
  object-fit: contain;
  width: 100%;
}

#photo-viewer[open] {
  display: grid;
}

html #photo-viewer[option] {
  overflow: hidden;
}

dl {
  border: 1px solid white;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr;
  column-gap: 1ch;
  margin: 0;
  padding: 1ch 1.5ch;
  width: 100%;
}

dt {
  font-weight: bold;
  text-align: right;
}

dt::after {
  content: ': ';
}

dd {
  margin: 0;
}

dl, dt, dd {
  width: 100%;
}

h1 {
  margin: 0;
  width: 100%;
}

h2 {
  margin-top: 2rem;
}

h2:first-of-type {
  margin-top: 3rem;
}

.page-content {
  display: grid;
  justify-content: center;
  max-width: 100%;
}

.page-content>*:not(photo-album, picture) {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--content-width);
}

#post-metadata {
  display: grid;
  gap: 1rem 2rem;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  margin: 2rem auto 3rem auto;
  width: 100%;
}

@media (max-width: 825px) {
  #post-metadata {
    grid-template-columns: 1fr;
  }
}