---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { MyElement } from '../components/MyElement';
---

<Layout title="Camdyn Rasque">
	<main>
		<h1>Under Construction... (Test)</h1>
		<p>Checkout some projects:</p>
		<ul>
			<li><a href="https://camdyn.dev/projects/light-meter">Light Meter</a></li>
		</ul>
	</main>
</Layout>

<style>
	main {
		color: black;
		font-family: sans-serif;
	}
</style>
