---
import HeaderLink from './HeaderLink.astro';
---

<header>
  <nav class='font-serif'>
    <HeaderLink href='/'>Home</HeaderLink>
    <HeaderLink href='/blog'>Blog</HeaderLink>
    <HeaderLink href='/photos'>Photos</HeaderLink>
    <HeaderLink href='/about'>About</HeaderLink>
  </nav>
  <button id='theme-toggle' title='Change Theme'></button>
</header>
<style>
  header {
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
    margin: 2rem 0 0 0;
    padding: 0 var(--content-width-padding);
  }

  nav {
    align-items: center;
    display: flex;
    gap: 1.5rem;
  }

  nav a {
    border-bottom: 4px solid transparent;
    color: var(--black);
    text-decoration: none;
  }

  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }

  #theme-toggle {
    background-color: var(--color-text-main);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 2rem;
    top: 2rem;
  }

  @media (max-width: 475px) {
    header {
      align-items: center;
      display: flex;
      gap: 1.5rem;
      justify-content: center;
    }

    nav {
      justify-content: center;
    }

    #theme-toggle {
      margin-top: -1ch;
      position: initial;
    }
  }
</style>
<script>
  // Query the theme toggle
  let themeToggle = document.querySelector('#theme-toggle');

  // Attach an event handler
  themeToggle?.addEventListener('click', (e) => {
    let currTheme = document.documentElement.dataset.theme;
    if (!currTheme || currTheme === 'dark') {
      document.documentElement.dataset.theme = 'light';
      localStorage.setItem('theme', 'light');
    } else {
      document.documentElement.dataset.theme = 'dark';
      localStorage.setItem('theme', 'dark');
    }
  });
</script>
